body {
  width: 100%;
  text-align: center;
}

.header {
  height: 50px;
  background-color: #000;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  color: #f2f2f2;
  line-height: 50px;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  margin-right: 30px;
  font-size: 12px;
}

.header-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.header-nav a:hover {
  color: #808080;
  transition: color .3s;
}

.eyecatch {
  height: 600px;
  background: url(./img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.eyecatch h1 {
  position: absolute;
  top: 55%;
  left: 120px;
  font-size: 38px;
  font-style: italic;
  font-weight: bold;
  font-family: "Times New Roman", "ＭＳ Ｐゴシック";
  color: #f2f2f2;
  line-height: 1;
}

#mission {
  background-color: #000;
  height: 400px;
  margin-bottom: 180px;
  justify-content: center;
  position: relative;
}

.mission-contents {
  color: #f2f2f2;
  margin: 0 auto;
  text-align: left;
  position: relative;
}

.mission-contents h1 {
  font-size: 20px;
  position: absolute;
  top: 100px;
  margin: auto 100px 20px;
}

.mission-contents p {
  font-size: 14px;
  position: absolute;
  top: 150px;
  margin: auto 100px;
  line-height: 1.5em;
}

.mission-contents a {
  position: absolute;
  top: 240px;
  margin: auto 100px;
  width: 100px;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #2c2c2f;
  background-color: #f2f2f2;
  text-decoration: none;
  border: 1px #f2f2f2 solid;
  transition: 0.4s ease;
  text-align: center;
}

.mission-contents a:hover {
  color: #f2f2f2;
  background: #000;
}

.mission-contents img {
  width: 540px;
  margin-top: 80px;
  margin-left: 60%;
}

#service {
  margin: 0 auto;
  background-color: #adadad;
  height: 1200px;
  position: relative;
}

#service h1 {
  text-align: center;
  font-size: 28px;
  color: #2c2c2f;
  padding-top: 20px;
  padding-bottom: 10px;
}

.service-relative img {
  display: block;
  margin-left: auto;
  top: 30px;
  width: 600px;
  object-fit: cover;
}

.service-absolute {
  text-align: left;
  position: absolute;
  top: 120px;
  right: 580px;
  background: #f2f2f2;
  padding: 80px 80px;
  width: 350px;
}

.service-absolute h2 {
  font-size: 16px;
  font-weight: bold;
}

.service-absolute h3 {
  font-size: 14px;
  line-height: 2.5em;
  font-weight: normal;
}

.service-absolute p {
  font-size: 12px;
  line-height: 1.5em;
}

.service2-relative img {
  display: block;
  margin-right: auto;
  position: relative;
  top: 200px;
  width: 600px;
  height: auto;
  object-fit: cover;
}

.service2-absolute {
  text-align: left;
  position: absolute;
  bottom: 220px;
  left: 580px;
  background: #f2f2f2;
  padding: 80px 80px;
  width: 350px;
}

.service2-absolute h2 {
  font-size: 16px;
  font-weight: bold;
}

.service2-absolute h3 {
  font-size: 14px;
  line-height: 2.5em;
  font-weight: normal;
}

.service2-absolute p {
  font-size: 12px;
  line-height: 1.5em;
}

.service-link,
.service2-link {
  display: block;
  margin-left: auto;
  width: 100px;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #2c2c2f;
  text-decoration: none;
  border: 1px #000 solid;
  transition: 0.4s ease;
  text-align: center;
}

.service-link:hover,
.service2-link:hover {
  color: #fff;
  background: #2c2c2f;
}

#company-recruit {
  background: #f2f2f2;
  padding-top: 100px;
  padding-bottom: 100px;
}

.company-recruit-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company,
.recruit {
  position: relative;
  width: 600px;
  height: 180px;
  overflow: hidden;
  background: #000;
}

.company img,
.recruit img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  transition-duration: 0.3s;
}

.company span,
.recruit span {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  text-align: center;
  line-height: 1.5em;
}

.company h1,
.recruit h1 {
  font-size: 18px;
}

.company p,
.recruit p {
  font-size: 12px;
}

.company:hover img,
.recruit:hover img {
  opacity: 0.6;
  transition-duration: 0.3s;
}

.faq {
  position: relative;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  color: #f2f2f2;
  background: #000;
  transition: .4s;
  width: 800px;
  height: 80px;
  margin: 30px auto;
  vertical-align: middle;
}

.faq:hover {
  opacity: 0.8;
}

.faq span {
  display: flex;
  justify-content: space-around;
}

.faq h1 {
  margin-left: 10px;
  line-height: 80px;
  font-size: 18px;
}

.faq p {
  margin: 0 auto;
  line-height: 80px;
  font-size: 14px;
}

#contact {
  background: url(./img/contact-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #f2f2f2;
  padding-top: 150px;
  padding-bottom: 150px;
}

#contact h1 {
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 10px;
}

#contact h2 {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 30px;
}

#contact h3 {
  font-size: 26px;
  font-weight: normal;
  padding-bottom: 30px;
}

#contact p {
  font-size: 12px;
  padding-bottom: 40px;
}

#contact a {
  width: 100px;
  padding: 8px 20px;
  font-size: 12px;
  font-weight: bold;
  color: #f2f2f2;
  text-decoration: none;
  border: 1px #f2f2f2 solid;
  transition: 0.4s ease;
}

#contact a:hover {
  color: #2c2c2f;
  background: #f2f2f2;
}

.footer {
  height: 70px;
  background-color: #000;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  font-size: 18px;
  font-weight: bold;
  margin-left: 30px;
  color: #f2f2f2;
  line-height: 50px;
}

.footer-nav ul {
  display: flex;
}

.footer-nav li {
  margin-right: 30px;
  font-size: 12px;
}

.footer-nav a {
  color: #f2f2f2;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #808080;
  transition: color .3s;
}

.copyright {
  color: #f2f2f2;
  font-size: 11px;
  text-align: center;
}